<section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1><span class="logo"><i class="fas fa-dice-d20"></i> API Demo</span></h1>
                  <h2>This API Demo is done to use the API from Board Game Geeks</h2>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(images/slider/bg2.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1>Nonsense</h1>
                  <h2>I'm just here to speak nonsense... Nonsense Nonsense Nonsense</h2>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(images/slider/bg3.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1>More Nonsense! :)</h1>
                  <h2>Nonsense Nonsense Nonsense Nonsense Nonsense Nonsense Nonsense Nonsense Nonsense</h2>
                   </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item--> 
      </div>
      <!--/.carousel-inner--> 
    </div>
    <!--/.carousel--> 
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> </section>
  <!--/#main-slider-->
  <div class="color-border"> </div>
  <section id="feature" >
    <div class="container">
      <div class="center">
        <h2>Featured Services</h2>
        <p class="lead">This app exhibits two main charts that extracts data from an HEROKU API which includes sample data for positions and employee information.</p>
      </div>
      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"> <i class="fa fa-users"></i>
              <h2>Employees</h2>
              <h3>A table of Employee information.</h3>
            </div>
          </div>
          <!--/.col-md-4-->
          
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"> <i class="fa fa-cogs"></i>
              <h2>Positions</h2>
              <h3>A table showing information on the positions and their salaries.</h3>
            </div>
          </div>
          <!--/.col-md-4-->
  
        </div>
        <!--/.services--> 
      </div>
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#feature-->