<div class="center">
  <h2>Position: {{position.PositionName}}</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f='ngForm' (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
    
              <div class="form-group" [ngClass]="{'form-group has-error': PositionName.errors && PositionName.errors.required}">
                  <label for="PositionName" class="control-label">Position Name:</label>
                  <input class="form-control" #PositionName="ngModel" id="PositionName" type="text" name="PositionName" [(ngModel)]="position.PositionName" required autofocus/>
                  <span class="help-block" *ngIf="PositionName.errors && PositionName.errors.required">Position Name is required</span>
                </div>
        
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{'form-group has-error': PositionDescription.errors && PositionDescription.errors.required}">
              <label for="PositionDescription" class="control-label">Description:</label>
              <textarea class="form-control" #PositionDescription="ngModel" id="PositionDescription" rows="5" name="PositionDescription" [(ngModel)]="position.PositionDescription" required autofocus></textarea>
              <span class="help-block" *ngIf="PositionDescription.errors && PositionDescription.errors.required">Position Description is required</span>
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
        <input type="submit" class="btn btn-primary pull-right" value="Update Position" [disabled]="!f.valid"/>
        <br />
        <br />
      </form>
    </div>
  </div>
<br />
<div class="alert alert-success" *ngIf="successMessage">
  <strong>Success!</strong> Position: "Position Name" was successfully saved.
</div>
<div class="alert alert-danger" *ngIf="failMessage">
  <strong>Error!</strong> Position: "Position Name" could not be saved.
</div>
</div>
<br /><br />